<%= form_with(model: awesome_list, local: true) do |form| %>
  <% if awesome_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(awesome_list.errors.count, "error") %> prohibited this awesome_list from being saved:</h2>

      <ul>
        <% awesome_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :technology %>
    <%= form.text_field :technology, required: true %>
  </div> 

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, required: true %>
  </div>


  <div class="field">
    <%= form.label :repository %>
    <%= form.text_field :repository, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
