<p id="notice"><%= notice %></p>

<h1>Awesome Lists</h1>

<table>
  <thead>
    <tr>
      <th>Technology</th>
      <th>Category</th>
      <th>Repository</th>
      <th>Project info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @awesome_lists.each do |awesome_list| %>
      <tr>
        <td><%= awesome_list.technology %></td>
        <td><%= awesome_list.category %></td>
        <td><%= awesome_list.repository %></td>
        <td><%= awesome_list.project_info %></td>
        <td><%= link_to 'Show', awesome_list %></td>
        <td><%= link_to 'Edit', edit_awesome_list_path(awesome_list) %></td>
        <td><%= link_to 'Destroy', awesome_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Awesome List', new_awesome_list_path %>
