<p id="notice"><%= notice %></p>

<p>
  <strong>Technology:</strong>
  <%= @awesome_list.technology %>
</p>

<p>
  <strong>Category:</strong>
  <%= @awesome_list.category %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @awesome_list.repository %>
</p>

<p>
  <strong>Project info:</strong>
  <%= @awesome_list.project_info %>
</p>

<%= link_to 'Edit', edit_awesome_list_path(@awesome_list) %> |
<%= link_to 'Back', awesome_lists_path %>
